@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
html {
	height: 100%;
}
body {
	font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
header {
	width: 100%;
}
.navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar li {
	display: inline-block;
}
.navbar a {
	text-decoration: none;
  padding: 0.5em 1.5em;
  margin: 0;
	display: flex;
  justify-content: center;
  color: #FFF;
}
#header-top {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
	background-color: #CABBB7;
}
#header-navbar {
	background-color: #C65252;
}
#header-navbar a {
	font-size: 1.4em;
	font-weight: bold;
}
.content {
  background-image: url("../img/traffic-332857_1920.jpg");
  background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 3em;
}
.content h1 {
  color: #FFF;
  font-size: 4em;
  margin: 3% 6%;
}
.frame {
  padding: 5%;
  margin: 3% 6%;
  border: 2px solid #EEE;
  border-radius: 1em;
  background: rgba(255,255,255,0.9)
}
.frame h3 {
  text-align: center;
  font-size: 3em;
  font-weight: normal;
  padding: 0 10%;
}
.member {
	flex-basis: 30%;
	min-width: 10em;
	margin: 1em;
	border: 1px solid #AAA;
	text-align: center;
	background-color: #FFF;
	cursor: pointer;
}
.member img {
	padding: 0.5em;
	width: 100%;
	min-height: 10em;
	max-height: 25em;
	object-fit: cover;
	object-position: top;
	box-sizing: border-box;
}
.member p {
	margin: 0 0 1em 0;
	padding: 0;
}
.hidden {
	display: none;
}
#name {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.2em;
}
#calculator-form, #team {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#calculator-form label {
  flex-basis: 50%;
  padding: 3% 6%;
  box-sizing: border-box;
  width: 100%;
  min-width: 15em;
}
#calculator-form label > input, #calculator-form label > select {
  width: 100%;
  height: 2em;
  font-size: 1em;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
#calculator-form input[type=button] {
  flex-basis: 20em;
  margin-top: 2em;
  padding: 0.5em;
  background-color: #4CAF50;
  color: #FFF;
  border: 1px solid #AAA;
  border-radius: 0.5em;
  font-size: 1em;
}
#result {
  margin-top: 2em;
  color: #4CAF50;
  text-align: center;
  font-size: 2em;
}
footer {
  background-color: #000;
  padding: 1em 0 0 0;
	margin: 0;
}
#footer-navbar {
	display: flex;
}
#footer-logo {
  display: block;
  margin: 0.5em 1.5em 0.5em auto;
}
#footer-info {
  color: #FFF;
  text-align: center;
  padding: 1.5em;
}

@media only screen and (max-width: 768px) {
  #header-top {
    justify-content: center;
    padding: 0.5em;
  }
  #header-top img {
    margin: 0.5em;
    max-width: 100%;
  }
	.content h1 {
	  font-size: 2em;
		text-align: center;
	}
	.frame h3 {
	  font-size: 2em;
		text-align: center;
	}
}

@media only screen and (max-width: 480px) {
  #header-navbar li {
    display: block;
  }
	.content h1 {
	  font-size: 1.5em;
	}
	.frame h3 {
	  font-size: 1em;
	}
	#result {
	  font-size: 1em;
	}
}
